.idea/
.vscode/

# Virtual env
venv/

# env file
.env
# Cache
__pycache__/
*.pyc
.mypy_cache

*.env

__pycache__
__pycache__/
srs/src
src/token
src/storages/__pycache__/
src/utility/__pycache__/
src/handlers/__pycache__/